# Required vars
host                                     = "my.domain"
lets_encrypt_email                       = "email@my.domain"
airflow_github_auth_app_client_id        = "client_id"
airflow_github_auth_app_client_secret    = "client_secret"
jupyterhub_github_auth_app_client_id     = "client_id"
jupyterhub_github_auth_app_client_secret = "client_secret"
superset_github_auth_app_client_id       = "client_id"
superset_github_auth_app_client_secret   = "client_secret"
clickhouse_username                      = "default"
clickhouse_password                      = "password"
superset_secret_key                      = "password"
rbac                                     = {
    "<github username 1>" = {
        platform_role = "< admin | engineer | scientist | analyst | viewer >"
    }
}

# Optional vars
kube_config_path         = "~/.kube/config"
kube_config_context      = "default"
ingress_namespace        = "ingress"
lets_encrypt_environment = "staging"
platform_namespace       = "default"
